.modal {
  position: relative;

  &-header {
    @include fontExo($classicBlue, 1em);
    margin-bottom: 5px;

    &-wrap {
      width: 100%;
      border: 1px solid $white;
      border-radius: 25px;
      background: $white;
      padding: 5px 0;
      margin: 5px auto;
    }
  }

  &-logo {
    width: 50px;
    margin: 10px 0;
  }

  &-body {
    @include flexAlign(center, flex-start, column);
    padding: 10px 0;
  }
}
